section {
    margin: 2% 0% 2% 10%;
}

#current-page {
    color: #4e4b4b;
    margin-bottom: 3%;
}
#current-page span {
    color: #b1b1b1;
}
#filtres {
    margin-bottom: 3%;
}
#filters{
    display: flex;
    flex-wrap: wrap;

}
#filters select {
    padding: 8px 0% 8px 0%;
    margin: 0% 1% 1% 0%;
    width:20%;
    color: #4e4b4b;
    background:#c4c4c457;
    font-weight: bold;
    border: 0px;

}
#filters select option {
    background: white;
}

#top-of-watches {
    display: flex;
    justify-content: space-between;
    margin-right: 24%;
}

.page-number {
    display: flex;
    justify-content: space-between;
}

.page-number p{
    margin-right: 15%;

}

#trie select {
    padding: 10px 0% 10px 0%;
    margin: 0% 1% 1% 0%;
    width: 170%;
    color: #4e4b4b;
    border-color: #d6d6d6;
}

#montres {
    margin-right: 15%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #7b7b7b;

}

#montres a {
    color: #7b7b7b;
    text-decoration: none;

}

#montres  figure {
    transition:  0.5s;
    width: 20%; 
    height: auto;
    margin: 0%
}

#montres figcaption {
    width: 100%;
}

.watch-name {
    font-weight: bold;
}

#montres  figure:hover {
    -webkit-box-shadow: 0px 0px 82px -18px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 0px 82px -18px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 82px -18px rgba(0,0,0,0.79);
    z-index: 2;
    transition:  0.5s;


}


#montres img {
    width: 100%; 
}

#numbers2 p{
    float: left;
    margin-right: 1%;

}