
body,html {
  height: 100%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;

}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* DEBUT HEADER */

/* Header partie 1 */

#infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;

}
#infos p {
  margin: 1px;
  font-size: 90%
}
#top a {
  max-width: 10%;
}
#top img {
  max-width: 100%;
  height: auto;

}


#top button {
  background: black;
  width: 5%;
  padding: 5px 0% 5px 0%;

}

#top form {
  width: 42%;
}

.search  {
  float: left;
}

#top input {
  width: 80%;
  padding: 7px 1% 7px 2%;
  border: 1px solid #d6d6d6;
}

#top ::placeholder {
  color: #d6d6d6;
  opacity: 1;
}

#top button{
  border: 0px;
  width: 15%;
  height: 21%;

}

#top form img {
  max-width: 26%;
}

#header {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 5;

}
#header-filler{
  width: 100%;
  height:230px;
  background: white;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% 0% 0% 0%;
}

#icones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.icones{
  margin: 3% 5%;

}

#icones img{
  
  max-width: 20px;
  max-height:20px;
}


/* Header partie 2 */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #d6d6d6;
  font-size: 80%;
  background: white;
}

.navbar {
  margin: 1% 10%  1% 10%;
}



header nav a {
  color: #7b7b7b;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

header nav a:hover {
  color: black;
}


header nav p {
  font-weight: 500;
}


/* FIN HEADER */





/* DEBUT FOOTER */
footer{
  width: 100%;
  color: rgb(150, 150, 150);

}
footer h4 {
  color: white;
}
#topfoot {
  display: flex;
  justify-content: space-around;
  padding: 3% 0% 5% 0%;


  background: black;
  width: 100%;
}

#pay {
  width: 110%;
}

#dhl {
  width: 32%;
}
.securise {
  width: 25%;
}


#bottomfoot {
  background: #222222;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  justify-content: space-around;
  padding: 1% 0% 1% 0%;

}

#bottomfoot p {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 80%;
  
}

#bottomfoot #bonus {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

#bottomfoot #reseaux img{
  max-width: 20px;
  max-height:20px;
  margin-right: 5px;
}

#text p {
  margin: 0% 0% 0% 0%;
}

#mail img {
  float: left;
}

#numero img {
  float: left;
  max-width: 10%;
}

#live-chat {
  width: 65%;
  color: white;
  text-align: center;
  background:rgb(90, 90, 90);

}

#live-chat p {
  padding: 5% 0%;
}

#services p, #a-propos p {
  margin: 3% 0% 3% 0%;

}
#services p:hover {
  color: white;
}

#a-propos p:hover{
  color: white;
}

#newsletter p {
      margin: 0% 0% 2% 0%;
}

#topfoot input {
  margin-top: 4%;
  padding: 12px 9% 12px 2%;
  border: 1px solid #d6d6d6;
}

#topfoot ::placeholder {
  color: lightgray;
  opacity: 1;
}

#abonnez-vous {
  width: 50%;
  color: white;
  text-align: center;
  background:rgb(40, 40, 40);

}

#abonnez-vous:hover {
  background:rgb(30, 30, 30);

}

#abonnez-vous p {
  padding: 3% 0%;
}



/* FIN FOOTER */