
body,html {
    height: 100%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

}





/* START OF HOME Container style*/

/*
body, html {
    height: 100%;
}
*/  

/* start of Container's style */
#container {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
background-color: aquamarine;
}
/* start of Container's style */

    /* START OF BIG BOX 1's style */

    div #box1 {
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    text-align: center;
    }
    

        /* The hero image */
        .hero-image {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-image.PNG);
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat !important;
        min-height: 50%!important;  
        align-items: flex-end;

        }
        

            /* div actu's style */
            .actu {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 70%; 
            }
            

                /* hero-text's style */
                .hero-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    max-width: 50%; 
                    height: 80%;
                    margin-left: 5%;
                    text-align: center;
                }
                

                    /* h1's style */
                    h1 {
                        display: flex;
                        justify-content: center;
                        color: #FFFFFF;
                        font-family: 'Open Sans',sans-serif;
                        font-size: 200%;
                        text-align: center;
                        background-color: transparent;
                        margin-block-start: unset;
                        margin-block-end: unset;
                        margin-inline-start: unset;
                        margin-inline-end: unset;
                        font-weight: normal; 
                        padding: 25% 0% 0% 0%;
                    } 

                    /* a hero link background' s style */
                    #hero-link-bg {
                        background-color: #FFFFFF;
                        border: transparent;
                        justify-content: center;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        height: 20%;
                        margin-top: 0%;
                        margin: 5% 15% 15% 15%;
                        padding: 2% 5%;
                    }

                    #hero-link-bg:hover {
                        background-color: #FFFFFF;
                        opacity: 0.5;
                    }
                    .hero-text a {
                        display: flex;
                        background-color: transparent;
                        text-decoration: none;
                        color:#000000;
                        font-family: 'Open Sans',sans-serif;
                        font-size: 90%; 
                        font-weight: bolder;
                    }
            
             /* end of div actu's style     */

            /* arrow_down's style */
                div #arrow-down {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    margin-bottom: -5%; 
                    background-color: transparent; 
                }
                
                #arrow-down p {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin: auto;
                }

                #arrow-down i {
                    display: flex;
                    border: solid white;
                    border-width: 0 5px 5px 0;
                    display: inline-block;
                    padding: 5px;
                }
                .down {
                    display: flex;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
                /* end of arrow style */
    /* END OF BIG BOX 1's style */

    /* START OF BIG BOX 2's style */

        div #box2 {
            display: flex;
            height:    25%;
            flex-direction: column;
            background-color: white; 
        }
        
            /* START Style nav-brands*/
            #nav-brands {
                width: 100% ;
                height: 25%;  
                display: flex;
                flex-direction: row ;
                justify-content: space-around;  
                background-color: transparent;
                border: #000000 soid;

            }

            .nav-brd:hover{
                background-color: #7b7b7b;
                opacity: 0.5;
            } 
            .nav-brd {
                display: flex;;
                justify-content: center;
                text-align: center;
                padding-top: 1% ;
                width: 16%;
                font-family:'Open Sans',sans-serif;
                font-size: 100%;
                color: #000000;
                justify-content: center;
                border: transparent;


            }
            /* END Style nav-brands*/
/* 
            /* START OF BOX2/1's style */
                
            /* div #box2-1 {
                height: 40%;
                display: flex;
                flex-direction: column;
                background-color: white;
                text-align: center;
                } */
                
                /* Start of the 3 BRANDS's style */
                /* .box2-1{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    height: 33%;
                    background-size: cover;
                    background-repeat: no-repeat !important;
                    align-items: flex-end;
                }

                #brand1 {
                    display: flex;
                    background-image: url(../images/téléchargement\ \(1\).jpg);
                }

                #brand2 {
                    display: flex;
                    background-image: url(../images/téléchargement.jpg);
                }

                #brand3 {
                    display: flex;
                    background-image: url(../images/téléchargement\ \(1\).jpg);
                }

                #brand1 .brand-text {
                    display: flex;
                    background-color: #FFFFFF;
                    width: 40%;
                    height: 60%;
                    color: #000000;

                }

                #brand1 img {
                    display: flex;
                    width: 50%; */
                    /* height: 60%; */
                /* } */
            /* END OF BOX2/1's style */



            /* START OF BOX2/2's style */
            /* div #box2-2 {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: yellow;
                text-align: center;
                } */ */

            
            /* END OF BOX2/2's style */

            /* End of the 3 BRANDS's style */
        /* END OF BIG BOX 2's Style*/



        /* START OF BIG BOX 3's Style */
        div #box3 {
            display: flex;
            height: 15%;
            flex-direction: column;
            background-color: rgba(128, 117, 117, 0.863); 
            }
        /* END OF BIG BOX 3's Style */

/* END OF HOME Container's style*/



