/* partie noura du product */ 

body{
    margin: 0%;
    padding: 0;
}
.plan {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 0% 0% 0% 0% ;
    FONT-SIZE: SMALL;
} 

.plantop {
    /* background-color: aqua; */
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}
/* curseur pointer */
.cheminasuivre {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    cursor: pointer;
}

#carerra {
    color: #aaa;
}
.prisedevue {
    /* background-color: aquamarine; */
    width: 20%;
    height: 100%;
}

.prise {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
}

#prise1 {
    opacity: 1;
}

#prise2 {
    opacity: 0.25;
    transition: all 1.0s ease;
}

#prise3 {
    opacity: 0.25;
    transition: all 1.0s ease;
    
}

#prise2:hover {
    opacity: 1;
}

#prise3:hover {
    opacity: 1;
}



.photo {
    /* background-color: blue; */
    width: 40%;
    height: auto;
}
#foto {
    max-width:  auto;
    max-height: 100%;
    padding: 0% 0% 0% 0% ;
    margin: 4% 0% 0% -51%;
}

.prix {
    /* background-color: mediumvioletred; */
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 16px;
    font-family: Montserrat,sans-serif;
}

h2 {
    line-height: 1.2;
    font-size: 27px;
    font-family: Montserrat;
    padding: 0%;
    margin: 0%;
}

span#W {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
}

.dispo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

h3 {
    font-family: Montserrat;
    font-size: 27px;
}

span#tva {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
}

#disponible {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: #61b466;
    padding: 6%;
    margin: 2%;
}
h4 {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
}

.ajouteraupanier {
    background-color: #61b466;
    font-family: Montserrat;
    font-size: 21px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
}

#ajou:hover {
    
    background-color: #50AC55;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    /* -webkit-transition-duration: 0.3s; */
    transition-duration: 0.3s;
    transition-property: box-shadow;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


#panier {
    max-width: 50px;
    max-height: 50px;
    padding: 3%;
}

.payement {
    width: 100%;
    height: auto;
}

#delaisdelivraison {
    display: flex;
    flex-direction: row;
}



#delai {
    color: #61b466;
    font-family: Montserrat;
}

.im {
    max-width: 43px;
    max-height: 43px;
}

.livraisongratuite {
    display: flex;
    flex-direction: row;
}



span #livraiosn {
    font-weight: bold;

}

#neuve {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
}

#avec {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
}

#retour {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
}
.boite {
    display: flex;
    flex-direction:row;   
}



#garantie {
    display: flex;
    flex-direction: row;
}

#retourgratuit {
    display: flex;
    flex-direction: row;
}

.cartbank {
    display: flex;
    flex-direction: row;
}

.bank {
    max-width:  50px;
    max-height: 50px ;
}

#desqst {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
}
.demandez {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#demande {
    float: left;
    margin-right: 10px;
    border: 1px solid #aaa;
    padding: 5px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

#chat {  
    float: left;
    margin-right: 10px;
    border: 1px solid #aaa;
    padding: 5px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
    
}

#chat:hover {
    opacity: 1;
    background-color: black;
    cursor: pointer;
    color:white;
}

#demande {
    float: left;
    margin-right: 10px;
    border: 1px solid #aaa;
    padding: 5px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

#demande:hover {
        opacity: 1;
        background-color: black;
        color: white;
}



/* plan du millieu */

.plancentre {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    padding: 0% 0% 0% 0%;
}

.informationdebase {
    width: 25%;
    height: 40%;
    margin: 0% 2% 0% 0%;
}

.ref {
    width: 100%;
    height: 5%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.remontage {
width: 100%;
height: 5%;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between
}

.sexe {
width: 100%;
height: 5%;
background-color:  #f5f5f5;
display: flex;
flex-direction: row;
justify-content: space-between 
}


.box {
    width: 25%;
    height: 40%;
    margin: 0% 2% 0% 0%;

}

.couleur {
    width: 100%;
    height: 5%;
    background-color:  #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.verre {
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.matiere {
    width: 100%;
    height: 5%;
    background-color:  #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.diametre {
    width: 100%;
    height: 5%;
    background-color:  white;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.etenchiete {
    width: 100%;
    height: 5%;
    background-color:  #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.lunette {
    width: 100%;
    height: 5%;
    background-color:  white;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }



.bracelet {
    width: 25%;
    height: 40%;
    margin: 0% 2% 0% 0%;
}

.couleurbracelet {
    width: 100%;
    height: 5%;
    background-color:  #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.matierebracelet {
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.boucle {
    width: 100%;
    height: 5%;
    background-color:  #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

    .matiereboucle{
    width: 100%;
    height: 5%;
    background-color:  white;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
    }

.calibre { 
    width: 25%;
    height: 40%;
    margin: 0% 2% 0% 0%;
}

.remonte {
    width: 100%;
    height: 5%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.cal {
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.res {
    width: 100%;
    height: 5%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


.planaftercentre {
    width: 100%;
    height: auto;

}



#article {
    display: flex;
    flex-direction: row-reverse;
}

#produitannexe {
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    size: 0%;

}
figure img {
    max-width: 300%;
    max-height: 300%;
}

span.tag{
    color: #8c8c8c;
}

.fig{
    font-family: Montserrat,sans-serif;
    font-size: x-small;
}

#prod {
    font-size: xx-large;
    margin-bottom: 40px;
    color: #282828;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    padding: 0%;
}

.caract{
    font-size: large;
}

.finlone{
    display: flex;
    align-content: center
}

.separation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 0% 0% 0% 90;%
}

.cercle{
    display: block;
    width: 20px;
    height: 20px;
    margin: 25px auto;
    background-color: #424c57;
    border-radius: 50%;
    box-shadow: inset -25px 25px -40px rgba(0,0,0,.5); 
    margin: 0% 0% 0% 0% ;
    float: center;
}


#lastone{
    max-width: 40%;
    max-height: 40%;
}
